:host {
  --main-padding: 20px;
  --main-flex-flow: row nowrap;
  --margin-left: 10px;
  --player-flex: 5;
}

:host {
  min-height: 80vh;
  width: 100%;
  padding: var(--main-padding);

  display: flex;
  flex-flow: var(--main-flex-flow);
  justify-content: center;
  align-items:  flex-start;
}

app-video-list {
  flex: 1;
}

.video {
  &-player {
    min-height: 500px;
    margin-left: var(--margin-left);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

    flex: var(--player-flex);

    display: flex;
    iframe {
      flex: 1;
    }
  }
}

@media screen and (max-width: 550px) {
  :host {
    --main-padding: 20px 10px;
    --main-flex-flow: row wrap;
    --player-flex: 1;
    --margin-left: 0;
  }

  .video-player {
    margin-top: 10px;
  }
}
